<a href="https://colab.research.google.com/github/mishu11/Python/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('psd_coffee.csv')

In [ ]:
df.head()

   A  B
0  1  4
1  2  3
2  3  2
3  4  1

In [ ]:
df.tail()

,Commodity_Code,Commodity_Description,Country_Code,Country_Name,Market_Year,Calendar_Year,Month,Attribute_ID,Attribute_Description,Unit_ID,Unit_Description,Value
74304,711100,"Coffee, Green",RH,Zimbabwe,2021,2020,6,154,Soluble Dom. Cons.,2,(1000 60 KG BAGS),0.0
74305,711100,"Coffee, Green",RH,Zimbabwe,2021,2020,6,114,Soluble Exports,2,(1000 60 KG BAGS),0.0
74306,711100,"Coffee, Green",RH,Zimbabwe,2021,2020,6,82,Soluble Imports,2,(1000 60 KG BAGS),0.0
74307,711100,"Coffee, Green",RH,Zimbabwe,2021,2020,6,178,Total Distribution,2,(1000 60 KG BAGS),0.0
74308,711100,"Coffee, Green",RH,Zimbabwe,2021,2020,6,86,Total Supply,2,(1000 60 KG BAGS),0.0

In [ ]:
df.describe()

,Commodity_Code,Market_Year,Calendar_Year,Month,Attribute_ID,Unit_ID,Value
count,74309.0,74309.000000,74309.000000,74309.000000,74309.000000,74309.0,74309.000000
mean,711100.0,1993.593966,1994.055996,3.131168,90.368421,2.0,824.741296
std,0.0,17.988407,19.324427,4.234396,46.643653,0.0,4080.692916
min,711100.0,1960.000000,1959.000000,0.000000,20.000000,2.0,0.000000
25%,711100.0,1978.000000,1977.000000,0.000000,56.000000,2.0,0.000000
50%,711100.0,1995.000000,1994.000000,0.000000,86.000000,2.0,4.000000
75%,711100.0,2010.000000,2014.000000,6.000000,125.000000,2.0,229.000000
max,711100.0,2021.000000,2020.000000,12.000000,178.000000,2.0,97806.000000

In [ ]:
df.loc()

In [ ]:
df.shape

(74309, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74309 entries, 0 to 74308
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Commodity_Code         74309 non-null  int64
 1   Commodity_Description  74309 non-null  object
 2   Country_Code           74309 non-null  object
 3   Country_Name           74309 non-null  object
 4   Market_Year            74309 non-null  int64
 5   Calendar_Year          74309 non-null  int64
 6   Month                  74309 non-null  int64
 7   Attribute_ID           74309 non-null  int64
 8   Attribute_Description  74309 non-null  object
 9   Unit_ID                74309 non-null  int64
 10  Unit_Description       74309 non-null  object
 11  Value                  74309 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 6.8+ MB

In [ ]:
df.describe()

,Commodity_Code,Market_Year,Calendar_Year,Month,Attribute_ID,Unit_ID,Value
count,74309.0,74309.000000,74309.000000,74309.000000,74309.000000,74309.0,74309.000000
mean,711100.0,1993.593966,1994.055996,3.131168,90.368421,2.0,824.741296
std,0.0,17.988407,19.324427,4.234396,46.643653,0.0,4080.692916
min,711100.0,1960.000000,1959.000000,0.000000,20.000000,2.0,0.000000
25%,711100.0,1978.000000,1977.000000,0.000000,56.000000,2.0,0.000000
50%,711100.0,1995.000000,1994.000000,0.000000,86.000000,2.0,4.000000
75%,711100.0,2010.000000,2014.000000,6.000000,125.000000,2.0,229.000000
max,711100.0,2021.000000,2020.000000,12.000000,178.000000,2.0,97806.000000

In [ ]:
df['Commodity_Code'].head()

0    711100
1    711100
2    711100
3    711100
4    711100
Name: Commodity_Code, dtype: int64

In [ ]:
df.d_types['int64']

TypeError: ignored

In [ ]:
df.loc()

In [ ]:
people={"first":["Mishu","Aman"],
        "second":["a","b"],
        }

In [ ]:
people["first"]

['Mishu', 'Aman']

In [ ]:
pd.people()

AttributeError: ignored

In [ ]:
df1=pd.DataFrame(people)
df1

   first second
0  Mishu      a
1   Aman      b

In [ ]:
df1['first']

0    Mishu
1     Aman
Name: first, dtype: object

In [ ]:
type(df1['first'])

pandas.core.series.Series

In [ ]:
df1.first

<bound method NDFrame.first of    first second
0  Mishu      a
1   Aman      b>

In [ ]:
 df1[['first','second']]

   first second
0  Mishu      a
1   Aman      b

In [ ]:
 df.columns

Index(['Commodity_Code', 'Commodity_Description', 'Country_Code',
       'Country_Name', 'Market_Year', 'Calendar_Year', 'Month', 'Attribute_ID',
       'Attribute_Description', 'Unit_ID', 'Unit_Description', 'Value'],
      dtype='object')

In [ ]:
df1.columns

Index(['first', 'second'], dtype='object')

In [ ]:
df.iloc[10]

Commodity_Code                           711100
Commodity_Description             Coffee, Green
Country_Code                                 AG
Country_Name                            Algeria
Market_Year                                2003
Calendar_Year                              2012
Month                                         6
Attribute_ID                                107
Attribute_Description    Roast & Ground Exports
Unit_ID                                       2
Unit_Description              (1000 60 KG BAGS)
Value                                       0.0
Name: 10, dtype: object

In [ ]:
df1.iloc[[0,1]]

   first second
0  Mishu      a
1   Aman      b

In [ ]:
import numpy as np

In [ ]:
a=np.array([1,2,3,4,5,6])

In [ ]:
import pandas as pd

In [ ]:
dict1={
    "name":["Aman","Mishu","Chotu"],
    "age":[21,20,21],
    "city":["Banglore","Bikaner","Bikaner"]
}
df=pd.DataFrame(dict1, index=None)

In [ ]:
dict1

{'name': ['Aman', 'Mishu', 'Chotu'],
 'age': [21, 20, 21],
 'city': ['Banglore', 'Bikaner', 'Bikaner']}

In [ ]:
df=df.reset_index(drop=False)
df

   age   name      city
0   21   Aman  Banglore
1   20  Mishu   Bikaner
2   21  Chotu   Bikaner

In [ ]:
 #Series
 ser=pd.Series(np.random.rand(34))
 #series is a data structure of pandas

In [ ]:
newdf=pd.DataFrame(np.random.rand(334,5))
#rows,columns

In [ ]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
newdf[0][0]="Mishu"

In [ ]:
#ye transpose kardega purre matrix ko
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.44,0.197243,0.259035,0.048177,0.696779,0.543667,0.009285,0.54282,0.341422,0.88582,...,0.43341,0.938438,0.241197,0.699947,0.392258,0.147822,0.850422,0.644791,0.619492,0.412838
1,0.038817,0.883695,0.080738,0.089241,0.982006,0.860861,0.368503,0.783944,0.378779,0.004301,...,0.197094,0.514232,0.73316,0.592062,0.808951,0.770543,0.27592,0.613444,0.148387,0.208745
2,0.866123,0.396831,0.23503,0.292471,0.314261,0.64653,0.10312,0.733297,0.844087,0.226599,...,0.247028,0.902246,0.082035,0.275504,0.495594,0.167814,0.046344,0.72989,0.116136,0.360196
3,0.01428,0.174576,0.715757,0.153956,0.603563,0.845089,0.037383,0.932297,0.961521,0.155288,...,0.987384,0.05504,0.545016,0.426476,0.263905,0.345577,0.6579,0.942395,0.287483,0.628734
4,0.262063,0.082919,0.240656,0.859771,0.592807,0.895098,0.359869,0.099748,0.99769,0.684286,...,0.194359,0.633151,0.938024,0.065498,0.019834,0.251416,0.156306,0.150949,0.867565,0.321996

In [ ]:
newdf.head()

          0         1         2         3         4
0      0.44  0.038817  0.866123  0.014280  0.262063
1  0.197243  0.883695  0.396831  0.174576  0.082919
2  0.259035  0.080738  0.235030  0.715757  0.240656
3  0.048177  0.089241  0.292471  0.153956  0.859771
4  0.696779  0.982006  0.314261  0.603563  0.592807

In [ ]:
newdf.sort_index(axis=0,ascending=False)
#axis=0 are rows

            0         1         2         3         4
333  0.412838  0.208745  0.360196  0.628734  0.321996
332  0.619492  0.148387  0.116136  0.287483  0.867565
331  0.644791  0.613444  0.729890  0.942395  0.150949
330  0.850422  0.275920  0.046344  0.657900  0.156306
329  0.147822  0.770543  0.167814  0.345577  0.251416
..        ...       ...       ...       ...       ...
4    0.696779  0.982006  0.314261  0.603563  0.592807
3    0.048177  0.089241  0.292471  0.153956  0.859771
2    0.259035  0.080738  0.235030  0.715757  0.240656
1    0.197243  0.883695  0.396831  0.174576  0.082919
0        0.44  0.038817  0.866123  0.014280  0.262063

[334 rows x 5 columns]

In [ ]:
newdf.sort_index(axis=1,ascending=False)
#axis=1 are columns

            4         3         2         1         0
0    0.262063  0.014280  0.866123  0.038817      0.44
1    0.082919  0.174576  0.396831  0.883695  0.197243
2    0.240656  0.715757  0.235030  0.080738  0.259035
3    0.859771  0.153956  0.292471  0.089241  0.048177
4    0.592807  0.603563  0.314261  0.982006  0.696779
..        ...       ...       ...       ...       ...
329  0.251416  0.345577  0.167814  0.770543  0.147822
330  0.156306  0.657900  0.046344  0.275920  0.850422
331  0.150949  0.942395  0.729890  0.613444  0.644791
332  0.867565  0.287483  0.116136  0.148387  0.619492
333  0.321996  0.628734  0.360196  0.208745  0.412838

[334 rows x 5 columns]

In [ ]:
#isme newdf2 naya nahi banegaa ,isme newdf2 bus newdf ka  refernce le raha hai
newdf2=newdf

In [ ]:
 newdf2[0][0]=.90
#agar mene newdf2 me change karaa hai toh wo newdf me change hojayega, bcz newdf2 reference le raha hai newdf

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
newdf

            0         1         2         3         4
0         0.9  0.038817  0.866123  0.014280  0.262063
1    0.197243  0.883695  0.396831  0.174576  0.082919
2    0.259035  0.080738  0.235030  0.715757  0.240656
3    0.048177  0.089241  0.292471  0.153956  0.859771
4    0.696779  0.982006  0.314261  0.603563  0.592807
..        ...       ...       ...       ...       ...
329  0.147822  0.770543  0.167814  0.345577  0.251416
330  0.850422  0.275920  0.046344  0.657900  0.156306
331  0.644791  0.613444  0.729890  0.942395  0.150949
332  0.619492  0.148387  0.116136  0.287483  0.867565
333  0.412838  0.208745  0.360196  0.628734  0.321996

[334 rows x 5 columns]